body {
  background-color: #000000;
  text-align:center;
}

.App {
  text-align: center;
  color: rgb(255, 255, 255);
}

.main > * {
  margin: auto;
  margin-bottom: auto;
}

.col {
  padding: 10px;
}

.Welcome {
  margin-top: 20em;
}

button {
  background-color: #000000; 
  color: white;
  border: 2px solid #000000;
  font-family: 'Garamond';
}

.resumePDF {
  width: 1000px;
  margin-left: 29% ;
  margin-right: auto ;
}

.ImageButton {
  padding: 20px;
}

.row {
  justify-content: space-between;
}

.ResumeButton {
  transform: translateY(88px);
}