body {
  margin: 0;
  font-family: Bookman, URW Bookman L, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.resumePDF {
  margin: auto;
  margin-left: 250px;
}

.Resume {
  justify-content: center;
}